*~
*.swp
*.orig
*tags

######################
# Compilation files
######################

*transcript
*make_*
*_history
_autogen/
_dep/
_gen/
_xilinx/
*.o
*.d
*.bit
*.bit
*.elf
*.elf.size
*.prm
*.bin

# Bundled binary file with PL/PS config
*BOOT.bin

# BSP-generated directories
software/app/evfr/evfr_*/
software/src/ad9520Tables.h

######################
# Modelsim
######################

*.wlf
work/

######################
# Temporary files
######################

*#*

######################
# Repo-specific files
######################

# Keep only source file, not generated products
/gateware/platform/xilinx/*/*/eventMonitorFIFO/
!/gateware/platform/xilinx/*/*/eventMonitorFIFO/eventMonitorFIFO.xci
/gateware/platform/xilinx/*/*/evLogFIFO/
!/gateware/platform/xilinx/*/*/evLogFIFO/evLogFIFO.xci
/gateware/platform/xilinx/*/*/evrmgt/
!/gateware/platform/xilinx/*/*/evrmgt/evrmgt.xci
/gateware/platform/xilinx/*/*/gateDriverSERDES/
!/gateware/platform/xilinx/*/*/gateDriverSERDES/gateDriverSERDES.xci
/gateware/platform/xilinx/*/*/gateDriverSERDES_ODELAY/
!/gateware/platform/xilinx/*/*/gateDriverSERDES_ODELAY/gateDriverSERDES_ODELAY.xci
/gateware/platform/xilinx/*/*/kdOutputDriverMMCM/
!/gateware/platform/xilinx/*/*/kdOutputDriverMMCM/kdOutputDriverMMCM.xci
/gateware/platform/xilinx/*/*/outputDriverMMCM/
!/gateware/platform/xilinx/*/*/outputDriverMMCM/outputDriverMMCM.xci
/gateware/platform/xilinx/*/*/outputDriverSelectIO/
!/gateware/platform/xilinx/*/*/outputDriverSelectIO/outputDriverSelectIO.xci
/gateware/platform/xilinx/*/*/bd/
!/gateware/platform/xilinx/*/*/bd/bd.bd
/gateware/platform/xilinx/*/*/ila_td256_s4096_cap/
!/gateware/platform/xilinx/*/*/ila_td256_s4096_cap/ila_td256_s4096_cap.xci

# NCO tables
*csv

# iverilog dependency files. Generated by Makefile
*_iverilog_cfile.txt

# generated by makefile for dependency tracking
axi_lite_generic_reg

# Makefile-generated
*system_top.xdc
*prio_xci_files.tcl
*ipcores_repos.tcl

# Script-generated
*softwareBuildDate.h
*firmwareBuildDate.v
*gpioIDX.vh
*construct_tx_table.v
*rtefi_blob.v
*rtefi_preblob.vh

######################
# Vivado files
######################

*.jou
*.log
*.str
*.xpr
*.edif
*.mif
.Xil/

# Vivado/Vitis-generated
*bd.xsa
*psu_init*
*.bif
*init.tcl

######################
# Impact files
######################

*impact.xsl
*impact_impact.xwbt
*usage_statistics_webtalk.html
*webtalk_impact.xml
