[submodule "gateware/submodules/bedrock"]
	path = gateware/submodules/bedrock
	url = https://github.com/BerkeleyLab/Bedrock
[submodule "gateware/submodules/bantamweightUDP"]
	path = gateware/submodules/bantamweightUDP
	url = ../../alsu-instrumentation/bantamweightUDP.git
[submodule "software/submodules/spiflash_driver"]
	path = software/submodules/spiflash_driver
	url = https://github.com/BerkeleyLab/spiflash_driver.git
